[submodule "strigiutils"]
	path = strigiutils
	url = kde:strigiutils

[submodule "strigidaemon"]
	path = strigidaemon
	url = kde:strigidaemon

[submodule "libstreams"]
	path = libstreams
	url = kde:libstreams

[submodule "libstreamanalyzer"]
	path = libstreamanalyzer
	url = kde:libstreamanalyzer

[submodule "strigiclient"]
	path = strigiclient
	url = kde:strigiclient
