[submodule "strigiutils"]
	path = strigiutils
	url = git://anongit.kde.org/strigiutils

[submodule "strigidaemon"]
	path = strigidaemon
	url = git://anongit.kde.org/strigidaemon

[submodule "libstreams"]
	path = libstreams
	url = git://anongit.kde.org/libstreams

[submodule "libstreamanalyzer"]
	path = libstreamanalyzer
	url = git://anongit.kde.org/libstreamanalyzer

[submodule "strigiclient"]
	path = strigiclient
	url = git://anongit.kde.org/strigiclient
